<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

    <!-- Configuration settings area -->
    <appSettings>
      <clear />
      <!-- no debe tener el caracter '\' al final del path -->
      <add key ="pathScanBegin" value ="C:\TFS\CFDI-Explotacion\Cod"/>
      <!-- no debe tener el caracter '\' al final del path -->
      <add key ="pathReporting" value ="C:\Governance\Libraries\Reports"/>
      <!-- no debe tener extension -->
      <add key ="reportName" value ="Inventory-Packages"/>
    </appSettings>
  
</configuration>